@page
@model RealEstatePipeline.Pages.AgentDashboardModel
@{
    var isUserLoggedIn = Model.IsUserLoggedIn();
    
    var userId = Model.UserId; // Retrieve the user ID

    var primaryLanguages = Model.Agent.PrimaryLanguage.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
}

@if (isUserLoggedIn)
{
    if(Model.IsAgent)
    {
        <!-- Link to the EditAgent page -->
        <div class="d-flex justify-content-between align-items-center">
            <a asp-page="/EditAgent" asp-route-id="@userId" class="btn btn-primary">Edit My Profile</a>
            <form method="post" asp-page-handler="Logout">
                <button type="submit" class="btn btn-warning">Logout</button>
            </form>
        </div>

       
        <p>Welcome, you are logged in.</p>
    <p> Name: @Model.Agent.FirstName @Model.Agent.LastName
    </p>
    <p>User Email: @Model.Agent.Email</p>
        <p>User Bio : @Model.Agent.ProfileDescription</p>
        <p>Language(s)</p>
        @if (primaryLanguages.Any())
        {
            <ul>
                @foreach (var language in primaryLanguages)
                {
                    <li>@language</li>
                }
            </ul>
        }
    }
    else
    {
        <p>You are not an agent.</p>
    }

}
else
{
    <p>You are not logged in.</p>
}
