@page
@model RealEstatePipeline.Pages.ClientDashboardModel
@{
    var isUserLoggedIn = Model.IsUserLoggedIn();
    
    var userId = Model.UserId; // Retrieve the user ID
    var primaryLanguages = Model.Client.PrimaryLanguage.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);

}

@if (isUserLoggedIn)
{
    if (Model.IsClient)
    {
        <!-- Link to the EditAgent page -->
        <div class="d-flex justify-content-between align-items-center">
            <a asp-page="/EditClient" asp-route-id="@userId" class="btn btn-primary">Edit My Profile</a>
            <form method="post" asp-page-handler="Logout">
                <button type="submit" class="btn btn-warning">Logout</button>
            </form>
        </div>


<p>Welcome, you are logged in.</p>

        <p>User Name: @Model.Client.FirstName @Model.Client.LastName</p>
    <p>User Email: @Model.Client.Email </p>
    <p>Minimum Budget: @Model.Client.MinimumBudget</p>
    <p>Maximum Budget: @Model.Client.MaximumBudget</p>
    <p></p>
    <p>User Bio : @Model.Client.ProfileDescription</p>
    <p>Language(s) : </p>
        @if (primaryLanguages.Any())
        {
            <ul>
                @foreach (var language in primaryLanguages)
                {
                    <li>@language</li>
                }
            </ul>
        }
    }
    else
    {
        <p>You are not a client</p>
    }

    
}
else
{
    <p>You are not logged in.</p>
}
